qia-skeleton, qia-paginator {
  margin: 1em;
  border: 1px dashed gray;
  padding: 1em;
}


.qia-paginator-group {
  margin: 1em;
  border: 1px dotted gray;
  padding: 1em;

  text-align: center;
}


.paged-content {
  margin: 1em;
  border: 1px dotted gray;
  padding: 1em;
}

.paged-content .qia-paginator-container {
  text-align: center;
}

.paged-content .qia-paginator-container qia-paginator {
  margin: 0;
  border: none;
  padding: 0;
}


.react-components-container {
  margin: 1em;
  border: 1px double gray;
  padding: 1em;
}

.react-components-container .qia-skeleton,
.react-components-container .qia-paginator {
  margin: 1em;
  border: 1px dotted gray;
  padding: 1em;
}

.react-components-container .page-indicator {
  margin: .6em;
  border: 1px solid black;
  padding: .4em;

  display: inline-block;
  width: 2em;

  text-align: center;
  cursor: pointer;
}

.react-components-container .page-indicator.selected {
  background: gray;
}
